@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  padding: 5rem 5rem 5rem 5rem;
  text-align: center;
  position: relative;
  place-items: center;
}

body {
  background-color: rgb(241 245 249);
}

.dark body {
  background-color: rgb(15 23 42);
}